<!DOCTYPE html>
<html>
<head>
    <title>Instancia</title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <h2>Agregar nueva instancia</h2>
        <input type="text"  id="idInstancia" size="20"/>
        <input type="text" id="idCobertura" size="20" />
        <input type="text" id="nombreInstancia" size="20" />
        <input type="text" id="estadoInstancia" size="20" />
        <input type="text" id="estadoInstancia1" size="20" />
        <input type="text" id="estadoInstancia2" size="20" />
        <input type="text" id="estadoInstancia3" size="20" />
        <input type="text" id="estadoInstancia4" size="20" />
        <input type="text" id="estadoInstancia5" size="20" />
        <input type="text" id="estadoInstancia6" size="20" />
        <input type="text" id="estadoInstancia7" size="20" />
        <input type="button" value="Agregar" onclick="add();" />

    </div>
    <!--<script src="https://ajax.aspnetcds.com/ajax/jquery/jquery-1.9.0.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>-->
    <script src="../Contents/jquery-3.1.1.min.js"></script>
    <script>
        function add() {
            var id = $("#idInstancia").val();
            var cobertura = $("#idCobertura").val();
            var nombre = $("#nombreInstancia").val();
            var estado = $("#estadoInstancia").val();
            var estado1 = $("#estadoInstancia1").val();
            var estado2 = $("#estadoInstancia2").val();
            var estado3 = $("#estadoInstancia3").val();
            var estado4 = $("#estadoInstancia4").val();
            var estado5 = $("#estadoInstancia5").val();
            var estado6 = $("#estadoInstancia6").val();
            var estado7 = $("#estadoInstancia7").val();

            if (id != " " && cobertura != " " && nombre !=  " " && estado != " ") {
                var obj = {
                    IdConvocatoria:id,
                    NumeroConvocatoria:cobertura,
                    TituloCovocatoria: nombre,
                    DescripcionConvocatoria: estado,
                    FechainicioinscripcionConvocatoria: estado1,
                    FechafininscripcionConvocatoria: estado2,
                    FechapublicacionhabilitadoConvocatoria: estado3,
                    FechapublicacionjuradosConvocatoria: estado4,
                    FechaeleccionespresencialesConvocatoria:estado5, 
                    FechaeleccionesdistanciaConvocatoria: estado6,
                    FechapublicacionresultadosConvocatoria: estado7
                };

                var info = JSON.stringify(obj);

                $.ajax({
                    url: 'http://191.102.85.226/Electoral/api/Convocatoria/ModificarConvocatoria',
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: info,
                    dataType: 'json',
                    success: function (data) {
                        alert('El registro se agrego con exito!.');
                        location.reload();
                    }
                }).fail(
                function (xhr, textStatus, err) {
                    alert(err)
                }
                );
            } else {
                alert('Campos Obligatorios')

            }
        }
    </script>
</body>
</html>
